services:
  megacmd:
    image: "docker.io/dehahost/megacmd:latest"
    #restart: "unless-stopped"
    #user: "1001:1001"
    volumes:
      # :: Make the workdir persistent
      - megahome:/home/mega

      # :: Synchronization folder(s)
      #    By default, UID/GID is 9100, so chmod your sync folder accordingly.
      #    OR uncomment the `user` key above and change the value to the folder owner (stat -c %u:%g /path/to/folder)
      - $HOME/Documents/MEGAsync:/home/mega/sync

volumes:
  megahome:
